# Yarn (not using Zero-Installs)
.pnp.*
.yarn/*
!.yarn/patches
!.yarn/plugins
!.yarn/releases
!.yarn/sdks
!.yarn/versions

# Modules
node_modules/

# Docusaurus
/build
.docusaurus
.cache-loader
.env.local
.env.development.local
.env.test.local
.env.production.local
